body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register_container {
  background: #a8b0dd;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  justify-self: center;
  align-self: center;
  place-self: center;
  margin-top: 10vh;
}

.register_form h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  color: #333;
}

.form_group {
  margin-bottom: 20px;
}

.form_group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

.form_group input {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.register_button {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register_button:hover {
  background-color: #0056b3;
}

.login {
  width: fit-content;
  padding: 12px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-wrap: nowrap;
}

a {
  text-decoration: none;
  color: white;
}

.login:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .register_container {
    padding: 20px;
    width: 80vw;
  }
  .form_group input{
    width: 90%;
  }

  .login{
    width: 40%;
  }
}